<div>
    <span id="close" class="close">&times;</span><br>
    <form action="/index/users/add_user/{{user_type}}" method="post">
        {{ form.hidden_tag() }}

        <div class="form-row">
            <div class="section-header">Add {{ user_type.title() }} Account</div>
        </div><hr><br><br>
        {% if user_type == 'student' %}
        <div class="form-row">
            <div class="field width-100">
                {{ form.tup_id.label() }}
                {{ form.tup_id(class='text', placeholder='TUP Student ID') }}
            </div>
        </div>
        {% elif user_type == 'instructor' %}
        <div class="form-row">
            <div class="field width-100">
                {{ form.college.label() }}
                {{ form.college(class='text') }}
            </div>
        </div>
        {% endif %}
        <div class="form-row">
            <div class='field width-50'>
                {{ form.l_name.label() }}
                {{ form.l_name(class="text", placeholder='Surname', id='l_name') }}
            </div>
            <div class="field width-50">
                {{ form.f_name.label() }}
                {{ form.f_name(class='text', placeholder='First Name', id='f_name') }}
            </div>
        </div>
        <div class="form-row">
            <div class="field width-40">
                {{ form.m_name.label() }}
                {{ form.m_name(class='text width-50', placeholder='Middle Name') }}
            </div>
            <div class="field width-35">
                {{ form.ext_name.label() }}
                {{ form.ext_name(class='text', placeholder='Ext.') }}
            </div>
            <div class="field width-25">
                {{ form.gender.label() }}
                {{ form.gender(class='text', title='Gender', placeholder='Gender') }}
            </div>
        </div><br>
        <div class="form-row">
            <div class="section-header">Login Details</div>
        </div><hr><br><br>
        <div class="form-row">
            <div class="field width-50">
                {{ form.username.label() }}
                {{ form.username(class='text', placeholder='Username', id='username', readonly='True') }}
            </div>
            <div class="field width-50">
                {{ form.password.label() }}
                {{ form.password(class='text', placeholder='Password', id='password', readonly='True') }}
            </div>
        </div><br>
        <div class="form-row">
            <div class="field width-100">
                {{ form.submit(class="submit width-100") }}
            </div>
        </div><br>
    </form>
</div>
