<div>
    <span id="close" class="close">&times;</span><br>
    <form id="add-course-form" action="/index/courses/add_course" method="post">
        {{ form.hidden_tag() }}

        <div class="form-row">
            <div class="section-header">
                <p>Add a new course to the system.</p>
            </div>
        </div><hr><br><br>
        <div class="form-row">
            <div class="field width-100">
                {{ form.code.label() }} 
                {{ form.code(class="text") }}
            </div>
        </div>
        <div class="form-row">
            <div class="field width-100">
                {{ form.title.label() }} 
                {{ form.title(class="text") }}
            </div>
        </div><br>
        <div class="form-row">
            <div class="field width-100">
                {{ form.submit(class="submit width-100") }}
            </div>
        </div>
    </form>
</div>