<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ETEEAP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>
        <div class="nav">
            <h3>Post a requirement for this class</h3>
        </div>
        <div class="main-content">
            <form action="/index/instructors/{{instructor_id}}/enrollments/{{enrollment_id}}/requirements/add" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="form-row">
                    <a class="back" href="/index/instructors/{{instructor_id}}/enrollments/{{enrollment_id}}/requirements">< Back</a>
                </div>
                <div class="form-row">
                    <div class="field width-50">
                        {{ form.title.label() }} 
                        {{ form.title(class='text', placeholder="Title") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="field width-50">
                        {{ form.description.label() }} 
                        {{ form.description(class='text', placeholder="Description") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="field">
                        {{ form.submit(class='submit width-50') }}
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>