
<div>
    <span id="close" class="close">&times;</span><br>
    <form action="/index/students/{{student_id}}/approve/{{progress}}" method="post">
        {{ form.hidden_tag() }}

        <div class="form-row">
            <div class="section-header">
                <p>Confirmation of Student's Uploaded OR and COR</p>
            </div>
        </div><hr>
        
        <iframe id="pdf-preview" src="{{ receipt_fp }}" frameborder="0"></iframe>
        <hr><br>
        <div class="form-row">
            <div class="field center width-100">
                {{ form.reject(class="submit red bold width-50") }}
                {{ form.submit(class="submit bold width-50") }} 
            </div>
        </div>
    </form>
</div>