<div>
    <span id="close" class="close">&times;</span><br>
    <div class="popup-content">
        <form>
            {{ form.hidden_tag() }}

            <br><br><hr><br><br>
            <div class="form-row">
                <div class="section-header">
                    <span>Are you sure you want to reset the password for {{ name }}</span>
                </div>
            </div>
            <br><br><hr><br><br>

            <div class="form-row">
                <div class="field width-100 gap-20">
                    <button id="close-btn" type="button" class="submit btn-grey width-50">Cancel</button>
                    {{ form.submit(id="confirm-reset-btn", class="submit width-50") }}
                </div>
            </div>
        </form>
    </div>
</div>