{% extends "index.html" %}

{% block content %}

<div class="main-row">
    <div class="card side color-white">
        <div class="inline">
            <h3>List of Programs</h3>
        </div>
        {% if colleges is defined and colleges|length > 0 %}
            {% for college in colleges %}
            <ul class="stylized-table">
                <li class="table-header">
                    <div class="col">{{ college.abbr }}: {{ college.name }}</div>
                </li>
                {% for program in college.programs %}
                <li class="table-row smaller">
                    <div class="col">{{ program.name }} <strong>({{ program.abbr }})</strong></div>
                </li>
                {% endfor %}
                <br><br>
            </ul>
            {% endfor %}
        {% else %}
        <br><br>
        <p>No programs have been created.</p>
        {% endif %}
    </div>

    <div class="card side color-white">
        <div class="inline">
            <h3>Courses</h3>
            <button id="add-course-btn" class="btn-add">Add course</button><br>
        </div>
        {% if courses is defined and courses|length > 0 %}
        <ul class="stylized-table">
            <li class="table-header">
                <div class="col col-3">COURSE CODE</div>
                <div class="col col-6">TITLE</div>
            </li>
            {% for course in courses %}
            <li class="table-row smaller">
                <div class="col col-3" data-label="CODE">{{ course.code }}</div>
                <div class="col col-6" data-label="TITLE">{{ course.title }}</div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No courses have been created.</p>
        {% endif %}
    </div>
</div class="main-row">

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <script>
        alert('{{ message }}');
    </script>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="modal">
    <div class="modal-content width-30"></div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var modal = document.querySelector('.modal');
        var modalContent = document.querySelector('.modal-content');
        const addCourse = document.getElementById('add-course-btn')

        addCourse.addEventListener('click', (event) => {
            event.preventDefault();
            var route = "/index/courses/add_course";

            fetch(route, {
                    method: 'GET'
                })
                .then(response => response.text())
                .then(data => {
                    modalContent.innerHTML = data;
                    var close = modalContent.querySelector("#close");
                    close.addEventListener('click', (event) => {
                        event.preventDefault();
                        modal.style.display = "none";
                    });
                    modal.style.display = "block";
                })
                .catch(error => {
                    alert(error);
                    window.location.reload();
                });
        });
    });
</script>

{% endblock %}