{% extends "index.html" %}


{% block content %}
<div class="main-row">
    <div class="card col-1 color-1">
        <div class="card-label">For processing</div>
        <div class="card-main-text">23</div>
    </div>
    <div class="card col-1 color-2">
        <div class="card-label">Enrolled</div>
        <div class="card-main-text">42</div>
    </div>
    <div class="card col-1 color-3">
        <div class="card-label">Rejected</div>
        <div class="card-main-text">2</div>
    </div>
    <div class="card col-1 color-4">
        <div class="card-label">Graduates</div>
        <div class="card-main-text">76</div>
    </div>
</div>
<div class="main-row">
    <div class="card col-2 color-white">
        <div class="card-label">Payments graph</div>
        <div class="card-main-text">N/A</div>
    </div>
    <div class="card col-2 color-white">
        <div class="card-label">Students graph</div>
        <div class="card-main-text">N/A</div>
    </div>
</div>
{% endblock %}
