<div>
    <span id="close" class="close">&times;</span><br>
    <form id="edit-course-form" action="/index/courses/{{form.data.id}}/edit_course" method="post">
        {{ form.hidden_tag() }}

        <div class="form-row">
            <div class="section-header">
                <p>Edit course details.</p>
            </div>
        </div><hr><br><br>
        <div class="form-row">
            <div class="field width-100">
                {{ form.title.label() }} 
                {{ form.title(class="text") }}
            </div>
        </div>
        <div class="form-row">
            <div class="field width-50">
                {{ form.code.label() }} 
                {{ form.code(class="text") }}
            </div>
            <div class="field width-50">
                {{ form.units.label() }} 
                {{ form.units(class="text") }}
            </div>
        </div><br>
        <div class="form-row">
            <div class="field width-100">
                {{ form.update(class="submit width-100") }}
            </div>
        </div>
    </form>
</div>