<div>
    <span id="close" class="close">&times;</span><br>
    <div class="popup-content">
        {% if data.student.program == "Not yet enrolled to any program."  %}
        <form action="/index/students/{{data.student.id}}/enroll/program" method="post">
            <div class="form-row center">
                <div class="section-header column">
                    <span>Enroll Student To A Program</span><br>
                    <span class="subtext">Name: {{ data.student.name }}</span>
                    <span class="subtext">Student ID: {{ data.student.tup_id }}</span>
                </div>
            </div><hr><br>
            {{ programs_form.hidden_tag() }}

            <div class="form-row center">
                <div class="field width-50">
                    {{ programs_form.academic_year.label() }} 
                    {{ programs_form.academic_year(class="text", value=data.student.ay) }}
                </div>
            </div>
            <div class="form-row center">
                <div class="field width-50">
                    {{ programs_form.semester.label() }}
                    {{ programs_form.semester(class="text", value=data.student.semester) }}
                </div>
            </div>
            <div class="form-row center">
                <div class="field width-50">
                    {{ programs_form.programs_select.label() }}
                    {{ programs_form.programs_select(class="text") }}
                </div>
            </div>
            <div class="form-row center">
                <div class="field width-50">
                    {{ programs_form.submit(class="submit width-100") }}
                </div>
            </div><br>
        </form>
        {% else %}
        <div class="row header">
            <div>
                <h4><span class="label ni">Student's Name:</span>  {{ data.student.name }}</h4>
                <h4><span class="label ni">Enrolled Program:</span>  {{ data.student.program }}</h4>
            </div>
            <div>
                <h4 class="right-align"><span class="label ni">Username:</span>  {{ data.student.username }}</h4>
                <h4 class="right-align"><span class="label ni">TUP ID:</span>  {{ data.student.tup_id }}</h4>
            </div>
        </div>
        <ul class="stylized-table">
            <li class="table-header smaller">
                <div class="col col-3">COURSE</div>
                <div class="col col-3">INSTRUCTOR</div>
                <div class="col col-2">STATUS</div>
                <div class="col col-3">FORMS</div>
                <div class="col col-2">HONORARIUM</div>
            </li>
            <div id="enrollment-table-content">
                {% include "enrollment-table.html" %}
            </div>
        </ul>
        <br><br>
        <div class="main-row">
            <form action="/index/students/{{data.student.id}}/enroll/course" method="post">
                {{ courses_form.hidden_tag() }}
    
                <div class="form-row">
                    <div class="field width-40">
                        {{ courses_form.courses_select.label() }} 
                        {{ courses_form.courses_select(class="text") }}
                    </div>
                    <div class="field width-40">
                        {{ courses_form.instructors_select.label() }}
                        {{ courses_form.instructors_select(class="text") }}
                    </div>
                    <div class="field width-20">
                        {{ courses_form.submit(class="submit width-100") }}
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>