<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ETEEAP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <div class="view">
            <div class="sidebar">
                <div class="logo">
                    <h1>ETEEAP</h1>
                    <h2>Welcome, {{ session.get('user').title() }} !</h2>
                </div>
                <ul>
                    {% for view in views %}
                    <li><button class="side-link" data-url="{{url_for(view.link)}}">{{ view.name }}</button></li>
                    {% endfor %}
                </ul>
                <button id="logout" class="side-link" data-url="/logout">Logout</button></li>
            </div>
            <div class="page-content">
                <div class="nav"><h2>{{ page }}</h2></div>
                <div class="main-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", event => {
                event.preventDefault();
                linkBtns = document.querySelectorAll(".side-link");
                active = document.querySelector(".active");

                if (active) {
                    active.classList.remove("active");
                }

                linkBtns.forEach(btn => {
                    var link =  btn.getAttribute('data-url');
                    btn.addEventListener("click", event => {
                        window.location.replace(link);
                    });
                    if (link === window.location.pathname) {
                        btn.classList.add("active");
                    }
                });
            });

        </script>
    </body>
</html>