<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Login Page - ETEEAP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/login.css') }}">
    </head>
    <body>
        <h1>Login - ETEEAP</h1><br>
        <div class="card">
            <form action="/login" method="post">
                <div class="ws-20"></div>
                {{ form.hidden_tag() }}

                {{ form.username(placeholder="Username") }} <br>
                {{ form.password(placeholder="Password") }} <br><br>
                {{ form.submit() }}
            </form>
        </div>
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                        {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </body>
</html>