<div>
    <span id="close" class="close">&times;</span><br>
    <div class="popup-content">
        {% if data.student.program == "Not yet enrolled to any program."  %}
        <form action="/index/students/{{data.student.id}}/enroll/program" method="post">
            <div class="form-row center">
                <div class="section-header column">
                    <span>Enroll Student To A Program</span><br>
                    <span class="subtext">Name: {{ data.student.name }}</span>
                    <span class="subtext">Student ID: {{ data.student.tup_id }}</span>
                </div>
            </div><hr><br>
            {{ programs_form.hidden_tag() }}

            <div class="form-row center">
                <div class="field width-50">
                    {{ programs_form.academic_year.label() }} 
                    {{ programs_form.academic_year(class="text", value=data.student.ay) }}
                </div>
            </div>
            <div class="form-row center">
                <div class="field width-50">
                    {{ programs_form.semester.label() }}
                    {{ programs_form.semester(class="text", value=data.student.semester) }}
                </div>
            </div>
            <div class="form-row center">
                <div class="field width-50">
                    {{ programs_form.programs_select.label() }}
                    {{ programs_form.programs_select(class="text") }}
                </div>
            </div>
            <div class="form-row center">
                <div class="field width-50">
                    {{ programs_form.submit(class="submit width-100") }}
                </div>
            </div><br>
        </form>
        {% else %}
        <div class="row header">
            <div>
                <h4><span class="label ni">Student's Name:</span>  {{ data.student.name }}</h4>
                <h4><span class="label ni">Enrolled Program:</span>  {{ data.student.program }}</h4>
            </div>
            <div>
                <h4 class="right-align"><span class="label ni">Username:</span>  {{ data.student.username }}</h4>
                <h4 class="right-align"><span class="label ni">TUP ID:</span>  {{ data.student.tup_id }}</h4>
            </div>
        </div>
        <ul class="stylized-table">
            <li class="table-header smaller">
                <div class="col col-2">COURSE</div>
                <div class="col col-2">INSTRUCTOR</div>
                <div class="col col-2">STATUS</div>
                <div class="col col-3">FORMS</div>
                <div class="col col-2">HONORARIUM</div>
            </li>
        {% if data.enrolled|length > 0 %}
            {% for e in data.enrolled %}
            <li class="table-row smaller">
                <div class="col col-2" data-label="code">{{ e.course.code }}: {{ e.course.title }}</div>
                <div class="col col-2" data-label="instructor">
                    {{ e.instructor.l_name|title }}, {{ e.instructor.f_name }} {{ e.instructor.m_name[0] }}.
                </div>
                <div class="col col-2">
                    <div class="cell smaller {{ e.status }}">{{ e.status.title() }}</div>
                </div>
                <div class="col col-3 flex-col">
                    {% if e.grade %}
                    <a class="smaller" download href="{{url_for('.grade_forms', form=1, enrollment=e.id)}}">Daily Time Record</a>
                    <a class="smaller" download href="{{url_for('.grade_forms', form=2, enrollment=e.id)}}">Student's Summary Grade Report</a>
                    <a class="smaller" download href="{{url_for('.grade_forms', form=3, enrollment=e.id)}}">Tutor's Evaluation Report</a>
                    {% else %}
                    <p class="smaller">Not yet submitted</p>
                    {% endif %}
                </div>
                <div class="col col-2">
                    <div class="inline">
                        <div class="cell smaller {{ e.honorarium }}">
                            {% if e.honorarium == "onprocess" %}
                                On Process
                            {% else %}
                                Released
                            {% endif %}
                        </div>
                        {% if e.grade and e.honorarium == "onprocess" %}
                        <div>
                            <a class="smaller release-honorarium" data-value="{{e.id}}">Release</a>
                        </div>
                        {% elif e.honorarium == "released" %}
                        <div>
                            <p class="smaller">{{ e.honorarium_released_date }}</p>
                            <a class="smaller undo-release-honorarium" data-value="{{e.id}}">Undo</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        {% else %}
            <p class="message">Student not yet enrolled to any subjects.</p>
        {% endif %}
        </ul>
        <br><br>
    
        <div class="main-row">
            <form action="/index/students/{{data.student.id}}/enroll/course" method="post">
                {{ courses_form.hidden_tag() }}
    
                <div class="form-row">
                    <div class="field width-50">
                        {{ courses_form.courses_select.label() }} 
                        {{ courses_form.courses_select(class="text") }}
                    </div>
                    <div class="field width-50">
                        {{ courses_form.instructors_select.label() }}
                        {{ courses_form.instructors_select(class="text") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="field width-50">
                        {{ courses_form.submit(class="submit width-100") }}
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>