<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ETEEAP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>
        <div class="nav"><h3>Enroll Student</h3></div>
        <div class="main-content">
            {% if data.student.program == "Not yet enrolled to any program."  %}
            <div class="main-row">
                <form action="/index/students/{{data.student.id}}/enroll/program" method="post">
                    <br>
                    <p> <strong>Name:</strong> {{ data.student.name }} </p><br>
                    <p> <strong>Student ID:</strong> {{ data.student.tup_id }} </p>
                    <br><br>
                    {{ programs_form.hidden_tag() }}
    
                    <div class="inline">{{ programs_form.academic_year.label(class="even") }} {{ programs_form.academic_year(class="spaced", value=data.student.ay, readonly="True") }}</div> <br>
                    <div class="inline">{{ programs_form.semester.label(class="even") }} {{ programs_form.semester(class="spaced", value=data.student.semester, readonly="True") }}</div> <br>
                    <div class="inline">{{ programs_form.programs_select.label(class="even") }} {{ programs_form.programs_select(class="spaced") }}</div> <br><br>
    
                    {{ programs_form.submit() }}
                    <div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                                {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    </div>
                </form>
            </div>
            {% else %}
            <div class="main-row">
                <div class="center">
                    <div class="card full small color-white no-margin">
                        <div class="card-header">
                            <div class="left">
                                <div class="card-text">
                                    {{ data.student.name }}
                                </div>
                                <div class="card-subtext">
                                    {{ data.student.program }}
                                </div>
                            </div>
                            <div class="right">
                                <p><small>{{ data.student.username }}</small></p>
                                <p><small>{{ data.student.tup_id }}</small></p>
                            </div>
                        </div>
                        {% if data.enrolled|length > 0 %}
                        <ul class="stylized-table">
                            <li class="table-header smaller">
                                <div class="col col-2">COURSE CODE</div>
                                <div class="col col-2">TITLE</div>
                                <div class="col col-2">INSTRUCTOR</div>
                                <div class="col col-2">STATUS</div>
                            </li>
                            {% for e in data.enrolled %}
                            <li class="table-row smaller">
                                <div class="col col-2" data-label="code">{{ e.course.code }}</div>
                                <div class="col col-2" data-label="title">{{ e.course.title }}</div>
                                <div class="col col-2" data-label="instructor">
                                    {{ e.instructor.l_name|title }}, {{ e.instructor.f_name }} {{ e.instructor.m_name[0] }}.
                                </div>
                                <div class="col col-2">
                                    <div class="cell smaller {{ e.status }}">{{ e.status }}</div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>Student not yet enrolled to any subjects.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <br><br>

            <div class="main-row">
                <form action="/index/students/{{data.student.id}}/enroll/course" method="post">
                    {{ courses_form.hidden_tag() }}
    
                    {{ courses_form.courses_select.label(class='no-margin') }} {{ courses_form.courses_select() }}
                    {{ courses_form.instructors_select.label() }} {{ courses_form.instructors_select() }} <br><br><br>

                    <div class="inline">
                        {{ courses_form.submit(class='no-margin') }}
    
                        <div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for category, message in messages %}
                                    <li class="{{ category }}">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </body>
</html>