<div>
    <span id="close" class="close">&times;</span><br>
    <div class="popup-content">
        <h1>
            {{ data.l_name | upper }}, {{ data.f_name | upper }} {{ data.m_name | upper }}<br>
            <span class="subtext"><span class="label">Email :</span> {{ data.email }}</span><br>
            <span class="subtext"><span class="label">Contact No. :</span> {{ data.contact_no }}</span><br>
        </h1><br><br><hr><br>
        <div class="row">
            <div class="popup-section width-40 right-border">
                <h2>Personal Details</h2>
                {% if data.birthday and data.birthmonth and data.birthyear %}
                    <div class="row"><span class="label width-40">Birthdate :</span><p class="width-60">{{data.birthday}} / {{data.birthmonth}} / {{data.birthyear}}</p></div>
                {% endif %}
                {% if data.gender %}
                    <div class="row"><span class="label width-40">Gender :</span><p class="width-60">{{data.gender}}</p></div>
                {% endif %}
                {% if data.civil_status %}
                    <div class="row"><span class="label width-40">Civil Status :</span><p class="width-60">{{data.civil_status}}</p></div>
                {% endif %}
                {% if data.citizenship %}        
                    <div class="row"><span class="label width-40">Citizenship :</span><p class="width-60">{{data.citizenship.title()}}</p></div>
                {% endif %}
                {% if data.residency %}    
                    <div class="row"><span class="label width-40">Residency :</span><p class="width-60">{{data.residency.title()}}</p></div>
                {% endif %}
                {% if data.local_address %}    
                    <div class="row"><span class="label width-40">Address :</span><p class="width-60">{{data.local_address}}</p></div>
                {% endif %}
            </div><br>
            
            <div class="popup-section width-60">
            <h2>Educational Background</h2>
            {% if data.educational_background %}
                {% for e in data.educational_background %}
                <h3>{{ e.school }} ({{ e.start_year }}-{{ e.end_year}})</h3>
                <ul>
                    <li>
                        <p class="label">
                            {{e.degree}} 
                            {% if e.academic_honors %}
                            <span> — {{e.academic_honors}}</span>
                            {% endif %}
                        </p>
                    </li>
                </ul>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>