{% extends "index.html" %}


{% block content %}
<div class="main-row">
    <div class="card full">
        <br>
        <form id="studentReportForm" method="post">
            {{ student_report_form.hidden_tag() }}
            <div class="form-row">
                <div class="section-header">
                    <p>
                        Student Data Report Generation
                        <a href="#" id="generateStudentReportLink">Generate Student Report</a>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                            <span class="subtext {{category}}">{{ message }}</span>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </p>
                </div>
            </div><br>
            <div class="form-row">
                <div class="section-header">
                    <p class="subtext">Filters</p>
                </div>
            </div><br>
            <div class="form-row">
                <div class="field width-25">
                    {{ student_report_form.ay.label() }}
                    {{ student_report_form.ay(class='text') }}
                </div>
                <div class="field width-25">
                    {{ student_report_form.semester.label() }}
                    {{ student_report_form.semester(class='text') }}
                </div>
                <div class="field width-25">
                    {{ student_report_form.college.label() }}
                    {{ student_report_form.college(class='text') }}
                </div>
                <div class="field width-25">
                    {{ student_report_form.program.label() }}
                    {{ student_report_form.program(class='text') }}
                </div>
            </div><br>
            <div class="form-row">
                <div class="field width-10">
                    {{ student_report_form.lb_age.label() }}  
                    {{ student_report_form.lb_age(class='text') }}
                    {{ student_report_form.ub_age(class='text') }}
                </div>
                <div class="field width-15">
                    {{ student_report_form.gender.label() }}     
                    {{ student_report_form.gender(class='text') }}
                </div>
                <div class="field width-20">
                    {{ student_report_form.type_of_student.label() }} 
                    {{ student_report_form.type_of_student(class='text') }}
                </div>
            </div><br>
        </form><br><hr><br><br>
        <form id="facultyReportForm" method="post">
            {{ faculty_report_form.hidden_tag() }}
            <div class="form-row">
                <div class="section-header">
                    <p>
                        Faculty Data Report Generation
                        <a href="#" id="generateFacultyReportLink">Generate Faculty Report</a>
                        <a href="#" class="honorariumReport" data-status="onprocess">Honorarium For Release Summary</a>
                        <a href="#" class="honorariumReport" data-status="released">Honorarium Released Summary</a>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                            <span class="subtext {{category}}">{{ message }}</span>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </p>
                </div>
            </div><br>
            <div class="form-row">
                <div class="section-header">
                    <p class="subtext">Filters</p>
                </div>
            </div><br>
            <div class="form-row">
                <div class="field width-25">
                    {{ faculty_report_form.ay.label() }}
                    {{ faculty_report_form.ay(class='text') }}
                </div>
                <div class="field width-25">
                    {{ faculty_report_form.semester.label() }}
                    {{ faculty_report_form.semester(class='text') }}
                </div>
                <div class="field width-25">
                    {{ faculty_report_form.college.label() }}
                    {{ faculty_report_form.college(class='text') }}
                </div>
            </div><br>
            <div class="form-row">
                <div class="field width-25">
                    {{ faculty_report_form.programs_taught(class='text') }}
                    {{ faculty_report_form.programs_taught.label() }}  
                </div>
                <div class="field width-25">
                    {{ faculty_report_form.honorarium_status(class='text') }}
                    {{ faculty_report_form.honorarium_status.label() }}                
                </div>
            </div><br>
        </form>
    </div>
</div>

<script>
    document.getElementById('generateStudentReportLink').addEventListener('click', function(event) {
        event.preventDefault();
        var studentForm = document.getElementById('studentReportForm')
        studentForm.action = "/index/student_report";
        studentForm.submit();
    });
    document.getElementById('generateFacultyReportLink').addEventListener('click', function(event) {
        event.preventDefault();
        var form = document.getElementById('facultyReportForm')
        form.action = "/index/faculty_report"
        form.submit();
    });
    var honorariumBtns = document.querySelectorAll(".honorariumReport");
    honorariumBtns.forEach(btn => {
        btn.addEventListener('click', function(event) {
            event.preventDefault();
            var form = document.getElementById('facultyReportForm')
            var status = btn.getAttribute("data-status");
            var route = "/index/honorarium_summary/" + status
            form.action = route
            form.submit()
        });
    });
</script>
{% endblock %}
