<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ETEEAP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>
        <div class="nav">
            <div>
                <h3>{{ course }}</h3>
            </div>
        </div>
        <div class="main-content">
            <div class="main-row">
                <div class="card full large">
                    <br><br>
                    <a onclick="history.back()">< Back</a> <br><br>
                    <div class="card-strongtext"> {{data.title}} </div> <br>
                    <div class="card-subtext"> Description </div>
                    <div class="card-text"> {{data.description}} </div>
                </div>
            </div>
        </div>
    </body>
</html>