{% extends "index.html" %}


{% block content %}
<div class="main-content">
    <form action="/index/admin_students" method="post">
        <div class="form-row filters">
            {{ form.hidden_tag() }}

            <div class="field width-15">
                {{ form.ay.label() }}
                {{ form.ay(class="text") }}
            </div>
            <div class="field width-15">
                {{ form.semester.label() }}
                {{ form.semester(class="text") }}
            </div>
            <div class="field width-10">
                {{ form.submit(class='submit grey width-100') }}
            </div>
        </div>
    </form>
    {% for student in data.students %}
    <div class="main-row">
        <div class="card bar color-white">
            <div class="left">
                <div class="card-strongtext"> {{ student.name}} </div>
                <div class="card-subtext">
                    {% if student.tup_id %}
                        {{ student.tup_id }}
                    {% else %}
                        TUP ID not set
                    {% endif %}
                </div>
                <div class="card-subtext smaller">{{ student.program }}</div>
            </div>
            <div class="middle">
                <div class="cell {{ student.progress }}"> {{ student.progress.title() }} </div>
            </div>
            <div class="right">
                {% if student.progress == 'payment' and student.receipt %}
                    <a href="{{url_for(".get_receipt", user_id=student.uid )}}" target="_blank"><button class="btn-grey">View receipt</button></a>
                    <button class="approve btn-green" data-id="{{student.id}}" data-progress="{{student.progress}}">Approve</button>
                {% elif student.progress == 'payment' %}
                    <button disabled>No receipt</button>
                    <button disabled>Approve</button>
                {% elif student.progress == 'enrollment' %}
                    <button class="enroll btn-green"  data-id="{{student.id}}">Enroll student</button>
                {% elif student.progress == 'enrolled' %}
                <button class="view btn-purple">View Subjects</button>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div id="approve-modal" class="modal">
    <div id="approve-modal-content" class="modal-content"></div>
</div>

<div id="enroll-modal" class="modal">
    <div id="enroll-modal-content" class="modal-content width-60"></div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var approveModal = document.querySelector('#approve-modal');
        var approveModalContent = document.querySelector('#approve-modal-content');
        var approveBtns = document.querySelectorAll('.approve');

        approveBtns.forEach(btn => {
            btn.addEventListener('click', (event) => {
                event.preventDefault();
                var student_id = btn.getAttribute('data-id');
                var progress = btn.getAttribute('data-progress');
                var route = '/index/students/' + student_id + '/approve/'  + progress;

                fetch(route, {method: 'GET'})
                    .then(response => response.text())
                    .then(data => {
                        approveModalContent.innerHTML = data;
                        approveModalContent.classList.add("width-40");
                        var close = approveModalContent.querySelector("#close");
                        close.addEventListener('click', (event) => {
                            event.preventDefault();
                            approveModal.style.display = "none";
                        });
                        approveModal.style.display = "block";
                    })
                    .catch(error => {
                        alert(error);
                        window.location.reload();
                    });
            });
        });
   
        var enrollModal = document.querySelector('#enroll-modal');
        var enrollModalContent = document.querySelector('#enroll-modal-content');
        var enrollBtns = document.querySelectorAll('.enroll');

        enrollBtns.forEach(btn => {
            btn.addEventListener('click', (event) => {
                event.preventDefault();
                var student_id = btn.getAttribute('data-id');
                var route = '/index/students/' + student_id + '/courses'

                fetch(route, {method: 'GET'})
                    .then(response => response.text())
                    .then(data => {
                        enrollModalContent.innerHTML = data;
                        enrollModalContent.classList.add("width-60");
                        var close = enrollModalContent.querySelector("#close");
                        close.addEventListener('click', (event) => {
                            event.preventDefault();
                            enrollModal.style.display = "none";
                        });
                        var releaseHonorariumBtns = document.querySelectorAll('.release-honorarium');
                        releaseHonorariumBtns.forEach(btn => {
                            btn.addEventListener('click', function(event) {
                                event.preventDefault();
                                const value = btn.getAttribute('data-value');
                                
                                fetch('/index/release_honorarium', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({ enrollment_id: value })
                                })
                                .then(response => response.json())
                                .then(data => {
                                    alert(data.message);
                                    window.location.reload();
                                })
                                .catch(error => {
                                    alert(error.message);
                                    window.location.reload();
                                });
                            });
                        });
                        enrollModal.style.display = "block";
                    })
                    .catch(error => {
                        alert(error);
                        window.location.reload();
                    });
            });
        });
   });
</script>
{% endblock %}