{% extends "index.html" %}


{% block content %}
<div class="main-content">
    <form action="/index/instructor_students" method="post">
        <div class="form-row filters">
            {{ form.hidden_tag() }}

            <div class="field width-15">
                {{ form.ay.label() }}
                {{ form.ay(class="text") }}
            </div>
            <div class="field width-15">
                {{ form.semester.label() }}
                {{ form.semester(class="text") }}
            </div>
            <div class="field width-10">
                {{ form.submit(class='submit grey width-100') }}
            </div>
        </div>
    </form>
    {% for e in data.enrollments %}
    <div class="main-row">
        <div class="card bar color-white">
            <div class="left">
                <div class="card-strongtext"> {{ e.student_name }} </div>
                <div class="card-subtext"> {{ e.course }}  </div>
            </div>
            <div class="middle">
                <div  class="cell {{ e.status }} smaller"> {{ e.status|title }} </div>
            </div>
            <div class="right">
                {% if e.status == 'pending' %}
                    <button class="btn-green" onclick="acceptEnrollment('{{data.instructor_id}}', '{{e.enrollment_id}}')">Accept</button>
                {% elif e.status == 'ongoing' %}
                    <button class="btn-purple" onclick="viewRequirements('{{data.instructor_id}}', '{{e.enrollment_id}}')">Requirements</button>
                {% else %}
                    <div class="section">
                        <div class="sub-section">
                            <p class="smaller">Final Grade:  {{ e.grade }}</p>
                        </div>
                        <div class="sub-section">
                            <p class="smaller">Honorarium:</p>
                            <div class="cell smaller {{ e.honorarium }}"> 
                                {% if e.honorarium == 'onprocess' %}
                                On Process
                                {% else %}
                                {{ e.honorarium|title }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    function acceptEnrollment(instructor_id, enrollment_id) {
        var url = '/index/instructors/' + instructor_id + '/enrollments/' + enrollment_id + '/accept';
        width = 600;
        height = 400;
        left = (screen.width - width) / 2;
        top = (screen.height - height) / 4;
        var features = 'width='+width+',height='+height+',left='+left+',top='+top;
        window.open(url, name, features);
    }

    function viewRequirements(instructor_id, enrollment_id) {
        var url = '/index/instructors/' + instructor_id + '/enrollments/' + enrollment_id + '/requirements';
        width = 1000;
        height = 800;
        left = (screen.width - width) / 2;
        top = (screen.height - height) / 4;
        var features = 'width='+width+',height='+height+',left='+left+',top='+top;
        window.open(url, name, features);
    }
</script>
{% endblock %}